<!DOCTYPE html>
<html>
<head>
    <title>Hike Letter</title>
</head>
<body>
    <h1>Hike Letter</h1>
    <p>Dear <%= employee.firstname %> <%= employee.lastname %>,</p>
    <p>We are pleased to inform you that your salary has been increased to <%= employee.newSalary %> effective from <%= employee.hikeDate %>.</p>
    <p>Best regards,<br>QubicGen</p>
</body>
</html>
