<!DOCTYPE html>
<html>
<head>
    <title>Joining Letter</title>
</head>
<body>
    <h1>Joining Letter</h1>
    <p>Dear <%= employee.firstname %> <%= employee.lastname %>,</p>
    <p>We are pleased to offer you the position of <%= employee.position %> at our company.</p>
    <p>Start Date: <%= employee.startDate %> 10/12/12</p>
    <p>Best regards,<br>Company Name</p>
</body>
</html>
