<!-- This is first one  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.letter-container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


</style>
</head>
<body >
	<div class="letter-container">
       
       
        <div class="content">
            <p>Dear Sanjuuuuu,</p>
            <p>To ensure that you experience a smooth onboarding, we would like to help you with a brief agenda for your day one at QubicGen.</p>
            <ol>
                <li>Welcome Address</li>
                <li>Verification of master data sheet, which contains your detailed information.</li>
                <li>Verification of joining documents*</li>
                <li>Receipt of employee handbook and visitor-cum-bus pass</li>
                <li>Submission of signed documents</li>
                <li>Receipt of hard copy of offer letter</li>
                <li>ID cum access card formalities</li>
                <li>Bank account opening formalities</li>
                <li>Meeting the buddy</li>
            </ol>
            <p>Please report by 9:00 am at Ananthapuramu in office, for joining formalities as per the address mentioned below:</p>
            <p id="address">1-136-3, Narayan Thagaram Galaxy, Vidya Nagar, Opp. JNTUA,<br>Anantapur, 515002, Andhra Pradesh.</p>
        </div>
    </div>

</body>
</html>


